* {
    font-family: 'JetBrains Mono';
    line-height: 1.5;
    padding: 0px;
    margin: 0px;
}

body {
    background: linear-gradient(45deg,rgb(0, 0, 0) 0%, rgb(80, 9, 121) 50%, rgb(251, 0, 255));
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
	height: 200vh;
    margin: 0px;
}

.clear{clear:both;}

#top_bar {
    width: 100%;
    color: rgb(255, 255, 255);
    background-color: rgba(0,0,0,0.5);
    padding: 20px;
}

#block_1 {
    width: 100%;
    height: fit-content;
    clear: both;
    padding: 0px;
    margin: 0px;
}

#facts {
    width: fit-content;
    height: fit-content;
    float: left;
    color: rgb(255, 255, 255);
    background-color: rgba(0,0,0,0.0);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px 20px;
    margin: 10px;
}

#facts:hover {
    width: fit-content;
    height: fit-content;
    float: left;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 10px;
}

#block_1_right {
    width: fit-content;
    height: fit-content;
    float: right;
}

#names {
    width: fit-content;
    height: fit-content;
    color: rgb(255, 255, 255);
    background-color: rgba(0,0,0,0.0);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px 20px;
    margin: 10px;
}

#names:hover {
    width: fit-content;
    height: fit-content;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 10px;
}

#pronouns {
    width: fit-content;
    height: fit-content;
    color: rgb(255, 255, 255);
    background-color: rgba(0,0,0,0.0);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px 20px;
    margin: 10px 10px 10px auto;
}

#pronouns:hover {
    width: fit-content;
    height: fit-content;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 10px 10px 10px auto;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 100%;
	}
	100% {
		background-position: 0% 50%;
	}
}